<a href="https://colab.research.google.com/github/josemoragonzalez/ejemplosColab/blob/master/ApiChC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tercer Ejercicio, Api desarrolladores ChC

In [ ]:
import pandas as pd
import requests

In [ ]:
# Agregar tu ticket
ticket = 'C495FBFD-6480-46C6-8A1A-EAE762EC0271'

In [ ]:
def compradores(ticket):
  url = 'http://api.mercadopublico.cl/servicios/v1/Publico/Empresas/BuscarComprador?ticket='+ticket
  r = requests.get(url)
  comp_json = r.json()
  df = pd.json_normalize(comp_json['listaEmpresas']) 
  return df

In [ ]:
dfcomp = compradores(ticket)
dfcomp

    CodigoEmpresa                                      NombreEmpresa
0         1034640   CORPORACION MUNICIPAL DE PEÑALOLEN PARA EL DE...
1            7311   Hospital de enfermedades InfecciDr. Lucio Cór...
2            7086                                              AGCID
3         1224636           Agencia Chilena de Eficiencia Energética
4            7193    Agencia de Promoción de la Inversión Extranjera
..            ...                                                ...
856         96996                          Universidad de Valparaíso
857         99805                            Universidad del Bío-Bío
858        164268  UNIVERSIDAD METROPOLITANA DE CIENCIAS DE LA ED...
859        126109              Universidad Tecnológica Metropolitana
860          7438                             Zona Franca de Iquique

[861 rows x 2 columns]

In [ ]:
def ocxfecha(fecha,ticket):
  url = 'http://api.mercadopublico.cl/servicios/v1/publico/ordenesdecompra.json?fecha='+fecha+'&ticket='+ticket
  r = requests.get(url)
  comp_json = r.json()
  df = pd.json_normalize(comp_json['Listado']) 
  return df['Codigo']

In [ ]:
dfocs = ocxfecha('19072020', ticket)
dfocs

0           1026-40-SE20
1       1040758-245-CM20
2      1057417-5451-SE20
3      1057417-5828-SE20
4       1057420-460-SE20
             ...
573       947621-63-SE20
574       947621-64-CM20
575       947621-72-CM20
576       947621-74-AG20
577         993-287-SE20
Name: Codigo, Length: 578, dtype: object

In [ ]:
def ocd(codigo, ticket):
  import time
  time.sleep(2)
  url = 'http://api.mercadopublico.cl/servicios/v1/publico/ordenesdecompra.json?codigo='+codigo+'&ticket='+ticket
  r = requests.get(url)
  comp_json = r.json()
  df = pd.json_normalize(comp_json['Listado']) 
  return df

In [ ]:
dftest = ocd('1057501-6535-SE20', ticket)
dftest

              Codigo  ...                                      Items.Listado
0  1057501-6535-SE20  ...  [{'Correlativo': 1, 'CodigoCategoria': 8512160...

[1 rows x 59 columns]

In [ ]:
pd.json_normalize(dftest['Items.Listado'].to_dict()[0])

   Correlativo  CodigoCategoria  ... TotalImpuestos     Total
0            1         42281600  ...            0.0  669300.0
1            2         53131600  ...            0.0  269000.0

[2 rows x 15 columns]

In [ ]:
def oc_fecha_con_detalle(fecha, ticket):
  listoc = ocxfecha(fecha,ticket)
  dfoctotal = pd.DataFrame()
  for oc in listoc:
    dfoctotal.append(ocd(oc, ticket))
  
  return dfoctotal

In [ ]:
import time

dfprueba =  oc_fecha_con_detalle('19072020', ticket)
dfprueba

Empty DataFrame
Columns: []
Index: []

In [ ]:
dfprueba

Empty DataFrame
Columns: []
Index: []

In [ ]:
dfoctotal.append(ocd(oc, ticket))
  
  return dfoctotal

In [ ]:
dfprueba

NameError: ignored